<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>MTVFR - {{  page.title  | uppercase  }}</title>
<meta name="description" content="Mud Tavern Volunteer Fire and Rescue">
<meta name="keywords" content="fire fighting, Mud Tavern, firefighter, EMT, EMS, Decatur, Alabama, North Alabama, volunteer fire department, volunteer EMT">
<link rel="icon" type="image/x-icon" href="/assets/favicon.ico">

<!-- Bootstrap -->
<!-- <link href="css/bootstrap-4.4.1.css" rel="stylesheet"> -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link rel="stylesheet" href="https://use.typekit.net/caj7rht.css">
<link href="/assets/css/MTVFR_final.css" rel="stylesheet" type="text/css">