<div class="container-fluid">
    <!-- container opening -->
  <br>
  <div class="row">
    <div class="col-xl-2 col-lg-1 col-md-2"></div>
    <div class="col-xl-8 col-lg-10 col-md-8">
      <div class="card">
        <img class="card-img-top" src="{{  site.data.homepage_highlight.image_path  }}"
             alt="{{  site.data.homepage_highlight.image_alternate_text  }}">
        <div class="card-body text-center">
          <h4 class="card-title text-center">{{  site.data.homepage_highlight.title  }}</h4>
          <p class="card-text">{{  site.data.homepage_highlight.description  }}</p>
          <br>
          <a href="/about" class="btn btn-primary">FIND OUT MORE ABOUT US</a>
        </div>
      </div>
      <br>
      <br/>
    </div>
    <div class="col-xl-2 col-lg-1 col-md-2"></div>
  </div>
  <br/>
  <br/>
  <br>
</div>