<div class="container-fluid">
    <!-- container opening -->
  <br>
  <div class="row">
    <div class="col-xl-2 col-lg-1 col-md-2"></div>
    <div class="col-xl-8 col-lg-10 col-md-8">
      <div class="card">
        <img
          class="card-img-top"
          src="assets/images/home/group.JPG"
          alt="Card image cap">
        <div class="card-body text-center">
          <h4 class="card-title text-center">Some of the Mud Tavern Volunteer Members at International Firefighters     
          Day</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh     
          euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
          <br>
          <a href="/about" class="btn btn-primary">FIND OUT MORE ABOUT US</a>
        </div>
      </div>
      <br>
      <br/>
    </div>
    <div class="col-xl-2 col-lg-1 col-md-2"></div>
  </div>
  <br/>
  <br/>
  <br>
</div>